.card-list {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 550px;
    margin-bottom: 24px;
}

.fa-location-dot {
    color: #1C2541;
}

.location {
    letter-spacing: 0.1rem;
    font-weight: 400;
    font-size: 0.625rem;
    text-transform: uppercase;
    color: #2B283A;
    padding-right: 16px;
    padding-left: 8px;
}

.map-link {
    color: #918E9B;
    font-size: 0.75rem;
    cursor: pointer;
}


.card-image {
    width: 200px;
    height: 280px;
    border-radius: 8px;
    float: left;
    display: block;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 0 0 16px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 12px 0 0 16px;
}

.card-title {
    margin: 0px;
    padding-bottom: 32px;
}


.card-date {
    font-weight: 700;
    font-size: 0.75rem;
    margin: 0;
}

.card-para {
    font-size: 0.75rem;
    line-height: 1.25rem;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 390px) and (max-width: 599px) {
    .card {
        width: 350px;
    }

    .card-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 0 0 16px;
    }


    .location {
        font-size: 0.5rem;
    }

    .map-link {
        font-size: 0.5rem;
    }

    .card-image {
        width: 150px;
        height: 250px;
    }

    .card-title {
        margin: 0px;
        font-size: 1.25rem;
        padding-bottom: 8px;
    }

    .card-date {
        font-size: 0.5rem;
    }

    .card-para {
        font-size: 0.625rem;
        line-height: 1.25rem;
    }
}